/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
* {
	box-sizing: border-box;
}



/* Base */
html {
    font-family: "Lucida Sans", sans-serif;
}
.header {
    background-color: #9933cc;
    color: #000;
    padding: 15px;
}



/* About Page */
#about-page {
	background-color: #fff;
	line-height: 1.43;
	width: 100%;
	height: 100%;
	font-family: "Poppins", arial, sans-serif;
    font-size: 14px;
    color: #000;
    overflow-x: hidden;
}

.navigation {
	min-height: 50px;
	margin-bottom: 20px;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 20px 0;
	transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;

}
.navigation #initials {
	display: inline;
	height: 50px;
	padding: 50px 15px 15px;
	font-size: 18px;
	line-height: 20px;
}
.navigation #initials a {
	text-decoration: none;
	color: #000;
}
.navigation #initials a span {
	font-size: 2.5em;
	font-weight: 700;
}
#nav-links {
	float: right;
}
#nav-links a {
	position: relative;
    display: block;
    padding: 10px 15px;
	line-height: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #000;
	font-family: "Poppins", arial, sans-serif;
	font-size: 14px;
	transition: 0.5s ease-in-out, padding 0.5s ease-in-out;
	text-decoration: none;
	font-weight: 500;
}
#nav-links a:hover {
	color: #FF5722;
}
#nav-links ul {
	float: left;
	margin: 0;
}
ul li {
	position: relative;
	display: inline;
	float: left;
	padding: 0 10px;
}

.home {
	display: table;
	width: 100%;
	height: 1000px;
	padding: 100px 0;
	text-align: center;
	background-color: #FF5722;
}
.home-content {
	vertical-align: middle;
	height: 100%;
	display: table-cell;
}
.home-content h1 {
	font-weight: 700;
    font-size: 5em;
    color: #000;
}
.home-content p {
	font-weight: 300;
	font-size: 2.2em;
	color: rgba(0, 0, 0, 0.75);
	margin: 0 0 35px;
}
.scroll-indicator {
	display: block;
    position: absolute;
    left: 0;
    bottom: 8%;
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 0.125em;
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.about-section {
	background: #fff;

}
.about-section .info {
	width: 50%;
	display: inline-block;
	padding: 10% 0 10% 10%;
}
.about-section .info h2 {
	font-weight: 700;
	font-size: 2.7em;
	color: #FF5722;
}
.about-section .info h3 {
	font-weight: 700;
	font-size: 2em;
	color: #FF5722;
}
.about-section .info p {
	color: rgba(0, 0, 0, 0.8);
	font-weight: 400;
	font-size: 1em;
	line-height: 1.8;
	text-align: justify;
}
.about-section .img-section {
	float: right;
	display: inline-block;
	padding: 10% 10% 10% 0;

}
.about-section img {
	height: auto;
	display: inline-block;
	max-width: 300px;
	margin-top: 10px;
	border-radius: 150px;


}
.about-section #portfolio-link  {
	font-weight: 700;
	font-size: 2.4em;
	color: #FF5722;
	padding-left: 45px;
	text-decoration: none;

}
.about-section #portfolio-link:hover {
	text-decoration: underline;
}

@media screen and (max-width: 768px) {
	.about-section .info {
		width: 100%;
		padding: 10%;
	}
}


/* Portfolio Section */
.portfolio-section {
	background: #000;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-family: "Poppins", arial, sans-serif;
	font-size: 2em;
	font-weight: 500;
	padding: 200px 0;

}
.portfolio-section h2 {
	padding: 0 0 40px;
}
.portfolio-section #project1 {
	height: 400px;
	width: 80%;
	margin: 0 auto;
	background-image: url("../images/citipix-deliverable.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.portfolio-section #project1 .description {
	position:relative;
	top: 120px;
	left:0;
	background: #000;
	color: #FF5722;
	font-family: "Poppins", arial, sans-serif;
	font-size: 1em;
	font-weight: 500;
	padding: 20px 0;
	visibility:hidden;
}
.portfolio-section #project1:hover .description {
	visibility: visible;
}

.portfolio-section #project2 {
	height: 400px;
	width: 80%;
	margin: 50px auto;
	background-image: url("../images/relaxr-deliverable.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.portfolio-section #project2 .description {
	position:relative;
	top: 120px;
	left:0;
	background: #000;
	color: #FF5722;
	font-family: "Poppins", arial, sans-serif;
	font-size: 1em;
	font-weight: 500;
	padding: 20px 0;
	visibility:hidden;
}
.portfolio-section #project2:hover .description {
	visibility: visible;
}

.portfolio-section #project3 {
	height: 400px;
	width: 80%;
	margin: 50px auto;
	background-image: url("../images/startup-matchmaker-deliverable.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.portfolio-section #project3 .description {
	position:relative;
	top: 120px;
	left:0;
	background: #000;
	color: #FF5722;
	font-family: "Poppins", arial, sans-serif;
	font-size: 1em;
	font-weight: 500;
	padding: 20px 0;
	visibility:hidden;
}
.portfolio-section #project3:hover .description {
	visibility: visible;
}
